Package: TEMPLATE_PROCESS
Version: 0.0.1
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: github.com/langeroo
Description: Template debian structure for a generic process

