
#########################
# Data logging parameters
#########################

# WARNING! Activating this flag will give anyone and any program the ability to run sudo commands without a password. Use with caution!
SUDO_WITHOUT_PASSWORD=0			# flag to (de)activate password-less sudo

ENABLE_NEW_DATA_FOLDERS=1		# flag to (de)activate new data folders
ENABLE_DATA_DELETION=1			# flag to (de)activate data deletion

DATA_FOLDER_ROOT=$HOME/data/		# where do you want to store your data?
DATA_FOLDER_RATE_MINUTES=5		# how often do you want a new data folder?
DATA_DRIVE_NAME=/dev/mmcblk0p1		# what mounted drive is your data on?
DATA_MAX_DRIVE_PERCENT=80		# delete oldest files when capacity exceeds %

CPU_RECORD_PERIOD_SEC=1			# how often do you want a CPU/MEM entry?

